THEORY

1)What are data structures, and why are they important3
- Data structures are organized ways to store, manage, and retrieve data efficiently. They define the layout and methods to operate on data, influencing how quickly and effectively tasks are performed.

importance
-Efficiency: They help optimize memory usage and processing speed.
Organization: They provide a systematic way to organize and manage data.

Functionality: Different structures support specific operations (e.g., fast searching with dictionaries, quick insertion/deletion with linked lists).

Real-world Applications: They are used in databases, operating systems, web browsers, and many other software systems.

2) Explain the difference between mutable and immutable data types with examplesP

- Mutable Data Types:
Definition: Mutable data types allow modification after creation. You can change, add, or remove elements without creating a new object.

- Immutable Data Types:
Definition: Immutable data types cannot be modified after creation. Any change creates a new object.
Examples: int, float, str, tuple

3) What are the main differences between lists and tuples in Python3

-List: Mutable – You can change, add, or remove elements after creation.
Tuple: Immutable – Once created, you cannot modify, add, or remove elements.

4)Describe how dictionaries store dataP

-dictionaries store data as key-value pairs using a highly efficient data structure called a hash table.

5)Why might you use a set instead of a list in Python3

-Use a set when:
You need unique elements.
Fast membership checking is required.
You need to perform mathematical set operations.
Order of elements is not important.

Use a list when:
You need ordered data.
Index-based access or slicing is required.
Duplicates are meaningful.

6)What is a string in Python, and how is it different from a list3

-Strings are immutable sequences of characters, suitable for text manipulation.

Lists are mutable sequences that can store elements of any data type.

Lists are more flexible for data manipulation, while strings are more efficient for fixed text data.


7)How do tuples ensure data integrity in Python3

-mutability is the core reason tuples ensure data integrity.

They prevent accidental changes and maintain consistency throughout the program.

They are hashable, allowing their use in contexts where data integrity and consistency are critical (e.g., keys in dictionaries).

This makes tuples ideal for storing fixed, unchanging collections of related data.


8)What is a hash table, and how does it relate to dictionaries in Python3

- A hash table is a data structure that stores key-value pairs and uses a hash function to compute an index into an array of buckets, from which the desired value can be found. In Python, dictionaries are implemented using hash tables, making them very efficient for lookups, insertions, and deletions.

9)Can lists contain different data types in Python3

-yes, in Python, lists can contain different data types.

10) Explain why strings are immutable in PythonP

- Strings are immutable in Python for performance, security, hashability, and thread safety.
Immutability allows Python to cache and reuse strings, making programs more efficient.
It ensures data integrity and reduces the risk of unintended side effects.
This design choice makes Python strings powerful and safe for text manipulation.

11)What advantages do dictionaries offer over lists for certain tasks3

-Dictionaries offer:

O(1) time complexity for lookups, insertions, and deletions.
Meaningful keys for better readability and maintainability.
No need for sequential indexing, unlike lists.
Uniqueness of keys for data integrity.
Efficient dynamic modification without shifting elements.
Lists are better when:

You need ordered collections.
You want to store sequences of items without key-value mapping.
Index-based access is sufficient or required.

12)Describe a scenario where using a tuple would be preferable over a listP

-Using a tuple would be preferable over a list when you need to store a collection of related data that should remain constant and unchangeable throughout the program.

13) How do sets handle duplicate values in Python3

-Sets in Python automatically handle duplicate values by storing only unique elements.
When a duplicate is added, it is ignored, keeping the set's uniqueness intact.
Sets are ideal for scenarios where uniqueness is important and when performing set-based operations.

14) How does the “in” keyword work differently for lists and dictionaries3

-In lists, in checks for the existence of a value using a sequential search (O(n) complexity).
In dictionaries, in checks for the existence of a key using a hash table (O(1) complexity).
To check for a value in a dictionary, use .values().

15)Can you modify the elements of a tuple? Explain why or why notP

-No, you cannot modify the elements of a tuple in Python because tuples are immutable.

16)What is a nested dictionary, and give an example of its use case3

-A nested dictionary is a dictionary within another dictionary.

It allows for hierarchical data storage.

Ideal for representing complex data structures like:

Hierarchical relationships (e.g., organizational charts)

JSON-like records (e.g., API responses)

Database-like entities (e.g., student records, employee data)

Access or modify values using multiple keys.

Provides a clear and organized way to manage complex data relationships.
Nested dictionaries are powerful for storing and managing multidimensional data efficiently in Python.

17)Describe the time complexity of accessing elements in a dictionary.

-Accessing an element in a Python dictionary is O(1) on average due to the use of hash tables.

Worst-case complexity is O(n), but this is rare due to efficient collision handling and dynamic resizing.

Python's dictionary implementation is highly optimized, making it one of the fastest data structures for lookups, insertions, and deletions.

Dictionaries are therefore a great choice for fast lookups and scenarios where constant-time access is crucial.

18) In what situations are lists preferred over dictionaries3

-Lists are ideal when you need an ordered, indexed, or homogeneous collection of values.

They are more memory-efficient and simpler for sequential data.

Use lists for simple collections, sequences, and when index-based operations are needed.

In contrast, dictionaries are better for key-value pairs, fast lookups by key, and structured data.

19)Why are dictionaries considered unordered, and how does that affect data retrieval3

-Dictionaries were historically unordered because of hash table implementation.

This led to unpredictable iteration order and no index-based access.

Since Python 3.7, dictionaries preserve insertion order, making iteration predictable.

However, they still do not support indexing like lists.
Use dictionaries when you need:

Key-value pairs with fast lookups.

Ordered iteration (Python 3.7+).

No need for index-based access.

If you require ordered and indexable collections, consider using lists or OrderedDict (for older versions).

20)Explain the difference between a list and a dictionary in terms of data retrieval.

-Lists use integer indices for ordered data and support fast index-based access.

Dictionaries use keys for unordered (insertion-ordered since Python 3.7) data and support fast key-based lookups.

Choose lists for sequences or ordered collections.

Choose dictionaries when you need a mapping from unique keys to values.

PRACTICALS

In [ ]:
#Write a code to create a string with your name and print it
name = ("suman verma")
print(type(name))
print ("my name is", name)

<class 'str'>
my name is suman verma

In [ ]:
#Write a code to find the length of the string "Hello World"P
string= ("hello world")
length=len(string)
print("lenghth of string is", length)

lenghth of string is 11

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming"P
str=("Python Programming")
print(str[0:3])

Pyt

In [ ]:
#Write a code to convert the string "hello" to uppercase
str=("hello")
print(str.upper())

HELLO

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"P
str= "i like apple"
print(str.replace("apple", "orange"))

i like orange

In [ ]:
#Write a code to create a list with numbers 1 to 5 and print itP
numbers = [1, 2, 3, 4, 5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]P
number=[1,2,3,4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]P
number=[1,2,3,4,5]
number.remove(3)
print(number)

[1, 2, 4, 5]

In [ ]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']P
list =['a', 'b', 'c', 'd']
print(list[2])

c

In [ ]:
#Write a code to reverse the list [10, 20, 30, 40, 50].
list =[10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.
num=(100, 200, 300)
print(type(num))
print(num)

<class 'tuple'>
(100, 200, 300)

In [ ]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colour=('red', 'green', 'blue', 'yellow')
print(type(colour))
print(colour[-2])

<class 'tuple'>
blue

In [ ]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)
num=(10,20,5,15)
minimum=min(num)
print(type(num))
print(minimum)

<class 'tuple'>
5

In [ ]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animal=('dog', 'cat', 'rabbit')
index=animal.index("cat")
print(index)

1

In [ ]:
 #15 #Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
 fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple!")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [ ]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
collection ={"a","b","c"}
print(collection)
print(type(collection))

{'b', 'c', 'a'}
<class 'set'>

In [ ]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
collection ={1,2,3,4,5}
collection.clear()
print(collection)

set()

In [ ]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
collection ={1,2,3,4,5}
collection.remove(4)
print(collection)

{1, 2, 3, 5}

In [ ]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1={1,2,3}
set2={3,4,5}
print(set1.intersection(set2))

{3}

In [ ]:

#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {
    "name":"suman",
    "age": 24,
    "city" :"hyderabad"
}
print(dict)

{'name': 'suman', 'age': 24, 'city': 'hyderabad'}

In [1]:
#Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict={
    "name": "John",
    "age": "25",
}
dict["country"]= "USA"
print(dict)

{'name': 'John', 'age': '25', 'country': 'USA'}

In [2]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [3]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
info={
    'name': 'Bob',
    'age': 22,
    'city': 'New York'
}
del info["age"]
print(info)

{'name': 'Bob', 'city': 'New York'}

In [4]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

info={
    'name': 'Alice',
    'city': 'Paris'
}
if 'city' in info:
    print("Key 'city' exists.")
else:
    print("Key 'city' does not exist.")
print(info)

Key 'city' exists.
{'name': 'Alice', 'city': 'Paris'}

In [5]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

In [6]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)

list = [86,55,64,45,28]
list.sort()
print(list)

[28, 45, 55, 64, 86]

In [1]:
#Write a code to create a list with strings and print the element at the third index.
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print("Element at third index:", fruits[3])

Element at third index: date

In [2]:
 #Write a code to combine two dictionaries into one and print the result.
 dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}


combined_dict = {**dict1, **dict2}


print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

In [3]:
#Write a code to convert a list of strings into a set.
fruits = ['apple', 'banana', 'cherry', 'apple', 'banana']

fruits_set = set(fruits)

print("Set of Fruits:", fruits_set)

Set of Fruits: {'apple', 'cherry', 'banana'}